.message-text-box {
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
}

textarea#message-text {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    resize: none;
}